USE [master]
GO
/****** Object:  Database [DBEmployee]    Script Date: 18/09/2023 9:34:04 SA ******/
CREATE DATABASE [DBEmployee]
CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBEmployee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBEmployee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBEmployee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBEmployee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBEmployee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBEmployee]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 18/09/2023 9:34:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Salary] [int] NULL,
	[Designation] [nvarchar](50) NULL,
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [Salary], [Designation]) VALUES (1, N'Thanh Van', N'2400000', N'Tester')
INSERT [dbo].[Employee] ([ID], [Name], [Salary], [Designation]) VALUES (2, N'Hoàng Giang', N'2300000', N'Developer')
INSERT [dbo].[Employee] ([ID], [Name], [Salary], [Designation]) VALUES (3, N'Hồng Minh', N'2400000', N'QA')
SET IDENTITY_INSERT [dbo].[Employee] OFF

USE [master]
GO
